<div class="col-6">
    <div class="card p-3">
        <a href="http://github.com/{{ .org }}/{{ .repo }}">{{ .name }}</a>
        {{ if .language }}
        <div>Language: {{ .language }}</div>
        {{ end }}
        {{ if .description }}
        <div>{{ .description }}</div>
        {{ else }}
        {{ if .description_github }}
        <div>{{ .description_github }}</div>
        {{ end }}
        {{ end }}
        {{ if .homepage }}
        <a href="{{ .homepage }}">{{ .homepage }}</a>{{ end }}
        {{ if .dependencies }}
        <span>Depends on:</span>
        <ul>
            {{ range .dependencies }}
            {{ . }}
            {{ end }}
        </ul>
        {{ end }}
    </div>
</div>
