<div class="col-6 repo" data-lang="{{ .language }}" data-name="{{ .name }}" data-updated="{{ .updated_at }}">
    <div class="card p-3">
        <a href="http://github.com/{{ .org }}/{{ .repo }}">{{ .name }}</a>
        {{ if .language }}
        <div>Language: {{ .language }}</div>
        {{ end }}
        {{ if .description }}
        <div>{{ .description }}</div>
        {{ else }}
        {{ if .description_github }}
        <div>{{ .description_github }}</div>
        {{ end }}
        {{ end }}
        {{ if .homepage }}
        <a href="{{ .homepage }}">{{ .homepage }}</a>{{ end }}
        <div class="row pt-2">
            {{ if .dependencies }}
            <div class="col">
                <span>Depends on:</span>
                <ul>
                    {{ range .dependencies }}
                    <li>
                        {{ . }}
                    </li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}

            {{ if .used_by }}
            <div class="col">
                <span>Used by:</span>
                <ul>
                    {{ range .used_by }}
                    <li>
                        {{ . }}
                    </li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}
        </div>
    </div>
</div>
