<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
<script type="text/javascript"
        src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
<script src="/render.js"></script>
<script>
    $(document).ready(function () {
        const pageType = {{ .Type  }};
        if (pageType === "connections") {
            const tabEls = $('button[data-bs-toggle="tab"]');
            if (tabEls.length > 0) {
                const graphName = tabEls[0].dataset["bsTarget"].replace("#", "");
                $.get("/" + graphName + "-graph.json", function (graph) {
                    drawGraph(graphName + "-graph", graph)
                });
            }

            tabEls.on('shown.bs.tab', function (event) {
                const graphName = event.target.dataset["bsTarget"].replace("#", "");
                $.get("/" + graphName + "-graph.json", function (graph) {
                    drawGraph(graphName + "-graph", graph)
                });
            })
        }

        function sort(attr) {
            const container = $(".active .card-container");
            const cards = container.find(".repo");
            container.html("");
            cards.sort((a, b) => $(a).data(attr)?.toLowerCase() > $(b).data(attr)?.toLowerCase() ? 1 : -1)
                .each((i, node) => container.append(node));
        }

        $("a").on("click", function(event) {
            sort($(event.target).data("sort"))
        });

        sort("name");
    })
</script>
{{ if .IsHome }}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/home.js?2"></script>
{{ end }}
</body>
</html>
