{{ partial "header.html" }}
<div class="container my-5">
    <div class="row">
        <div class="col">
            <div class="markdown">
                {{ .Content }}
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-4 offset-1">
             <canvas id="pieChart" class="graph"></canvas>
        </div>
         <div class="col-6">
             <canvas id="barChart" class="graph"></canvas>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}
